<h1>Signal example</h1>

<app-signal-inputs [sample]="true"></app-signal-inputs> <!-- true -->

<!-- <app-signal-inputs [firstName]="'Kamal'" [lastName]="'Gamage'" [agevalue]="25"></app-signal-inputs> -->

<!-- <app-to-observable></app-to-observable> -->

<!-- <app-rxjs-interop></app-rxjs-interop> -->

<!-- @if(showCleanupComponent()){
    <app-cleanup></app-cleanup>
}

<button (click)="toggleCleanupComponent()">Toggle</button> -->

<!-- <app-untracked></app-untracked> -->

<!-- <app-equality></app-equality> -->

<!-- <app-effects></app-effects> -->

<!-- <app-counter></app-counter> -->