<h1>Signal example</h1>

<p #el1>Hello</p>

<p #el2>Angular</p>

<p #el2>World</p>

<app-view-queries></app-view-queries>

<!-- <h1>Parent checked: {{parentChecked}}</h1>

<app-model-inputs [(checked)]="parentChecked"></app-model-inputs> -->

<!-- <app-model-inputs 
[checked]="parentChecked"
(checkedChange)="handleCheckChange($event)"></app-model-inputs> -->

<!-- <app-signal-inputs [sample]="true"></app-signal-inputs>  --> <!-- true -->

<!-- <app-signal-inputs [firstName]="'Kamal'" [lastName]="'Gamage'" [agevalue]="25"></app-signal-inputs> -->

<!-- <app-to-observable></app-to-observable> -->

<!-- <app-rxjs-interop></app-rxjs-interop> -->

<!-- @if(showCleanupComponent()){
    <app-cleanup></app-cleanup>
}

<button (click)="toggleCleanupComponent()">Toggle</button> -->

<!-- <app-untracked></app-untracked> -->

<!-- <app-equality></app-equality> -->

<!-- <app-effects></app-effects> -->

<!-- <app-counter></app-counter> -->