<!-- ========================= from parent to child ====================== -->
<!-- <app-post-list></app-post-list> -->




<!-- ========================= from child to parent ====================== -->


<!-- ============ @ViewChild ============ -->

<!-- <app-user></app-user>

<h1>{{message}}</h1>  -->



<!-- ============ @Output ============ -->

<!-- event binding -->
<!-- consume event -->
<!-- <app-user (dataEmitter)="handleDataFromChild($event)"></app-user> -->

<!-- text interpolation binding -->
<!-- <h1>{{message}}</h1>  -->




<!-- ================== Example for (parent => child) and (child => parent) ================ -->

<app-post-list></app-post-list>