<!-- ========================= from parent to child ====================== -->
<!-- <app-post-list></app-post-list> -->




<!-- ========================= from child to parent ====================== -->


<!-- ============ @ViewChild ============ -->

<!-- <app-user></app-user>

<h1>{{message}}</h1>  -->



<!-- ============ @Output ============ -->

<!-- event binding -->
<!-- consume event -->
<!-- <app-user (dataEmitter)="handleDataFromChild($event)"></app-user> -->

<!-- text interpolation binding -->
<!-- <h1>{{message}}</h1>  -->




<!-- ======= After moving some part of above example, to AddPostComponent  ========= -->

<!-- <app-post-list></app-post-list> -->



<!-- ============================== Content Projection  ============================= -->

<!-- ======= Single Content Projection ======= -->

<app-user-card>
    <h1>Hello I'm from Parent</h1>
    <p>pass HTML from parent to child component's view</p>
</app-user-card>
 
