<!-- Text Interpolation Binding -->
<!-- <h1>Parent: {{parentName}}</h1> -->

<!-- Template Variable -->
<!-- <input #inputRef placeholder="Enter your name"> -->

<!-- Event Binding -->
<!-- <button (click)="changeName(inputRef)">Change Name</button> -->

<!-- Property Binding -->
<!-- <app-child [childName]="parentName">
  <h3>This is projected content and I'm from Parent, name: {{parentName}}</h3>
</app-child> -->

<!-- <button (click)="addCmponent()">Add Component</button> -->

<app-child></app-child>