<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
  <h2>User Details</h2>

  <form class="w-50 mt-4" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

    <input type="text" class="form-control" placeholder="Enter your name" formControlName="username"
      [class.is-invalid]="isInvalidUsername">
    <div class="mb-4 text-danger">
      @if(signUpForm.get('username')?.hasError('required') && signUpForm.get('username')?.touched){
      Username is required
      }

      @if(signUpForm.get('username')?.hasError('minlength') && signUpForm.get('username')?.touched){
      Username must be at least 3 characters long
      }

      @if(signUpForm.get('username')?.hasError('maxlength') && signUpForm.get('username')?.touched){
      Username must be at most 10 characters long
      }
    </div>


    <input type="text" class="form-control" placeholder="Enter your email" formControlName="email"
      [class.is-invalid]="isInvalidEmail">
    <div class="mb-4 text-danger">
      @if(signUpForm.get('email')?.hasError('required') && signUpForm.get('email')?.touched){
      Email is required
      }

      @if(signUpForm.get('email')?.hasError('email') && signUpForm.get('email')?.touched){
      Email is invalid
      }
    </div>


    <textarea type="text" class="form-control" placeholder="Enter your address" formControlName="address"
      [class.is-invalid]="isInvalidAddress"></textarea>
    <div class="mb-4 text-danger">
      @if(signUpForm.get('address')?.hasError('required') && signUpForm.get('address')?.touched){
      Address is required
      }
    </div>

    <input type="text" class="form-control" placeholder="Enter your phone number" formControlName="phone"
      [class.is-invalid]="isInvalidPhone">
    <div class="mb-4 text-danger">
      @if(signUpForm.get('phone')?.hasError('required') && signUpForm.get('phone')?.touched){
      Phone number is required
      }

      @if(signUpForm.get('phone')?.hasError('pattern') && signUpForm.get('phone')?.touched){
      Phone number must be xxx-xxxxxxx
      }
    </div>

    <button class="btn btn-primary w-100" type="submit">Submit</button>

  </form>
</div>