<!-- ngStyle - Attribute Directives -->

<h1 [ngStyle]="{'color':isActive ? 'red' : 'purple', 
                'textTransform': isActive ? 'uppercase' : 'lowercase'
                }"
>Welcome All!</h1>


<h1 [ngStyle]="{'color':getActiveColor, 
                'textTransform':getTextTransform
                }"
>Welcome All!</h1>




<!-- style binding - Data Binding -->

<h1 [style.color]="isActive ? 'red' : 'purple'" 
    [style.textTransform]="isActive ? 'uppercase' : 'lowercase'"
>Welcome All!</h1>


<h1 [style.color]="getActiveColor" 
    [style.textTransform]="getTextTransform"
>Welcome All!</h1>





<!-- ngClass - Attribute Directives -->
<h1 [ngClass]="{'active':isActive, 'nonactive':!isActive}">Good Morning!</h1> 




<!-- class binding - Data Binding -->
<h1 [class.active]="isActive" [class.nonactive]="!isActive">Good Morning!</h1>