<!-- Traditional way to create Forms -->

<!-- <div class="container d-flex flex-column align-items-center justify-content-center vh-100 bg-secondary">
  <h2>User Details</h2>

  <form class="w-50 mt-4" (submit)="onSubmit($event)">
    <input type="text" class="form-control mb-4" placeholder="Enter your name" name="name">

    <input type="text" class="form-control mb-4" placeholder="Enter your email" name="email">

    <input type="text" class="form-control mb-4" placeholder="Enter your address" name="address">

    <button class="btn btn-primary w-100">Submit</button>
  </form>
</div> -->



<!-- Template Driven Forms -->

<div class="container d-flex flex-column align-items-center justify-content-center vh-100 bg-secondary">
  <h2>User Details</h2>

  <form class="w-50 mt-4" (submit)="onSubmit($event)" ngForm>
    <input type="text" class="form-control mb-4" placeholder="Enter your name" name="name">

    <input type="text" class="form-control mb-4" placeholder="Enter your email" name="email">

    <input type="text" class="form-control mb-4" placeholder="Enter your address" name="address">

    <button class="btn btn-primary w-100">Submit</button>
  </form>
</div>