<h1>Hello Angular</h1>

<app-login></app-login> <!-- logi component -->

<app-navbar></app-navbar> <!-- navbar component -->


<!-- Text/String Interpolation Binding -->
<h2>{{title}}</h2>
<h2>{{1+9}}</h2> <!-- 10 is text -->


<!-- Property Binding -->
<img [src]="imgUrl">


<br>
<!-- Text interpolation vs property -->
<button [disabled]="isDisabled">Next</button><br><br> <!-- correct - boolean -->
<button disabled="{{isDisabled}}">Previous</button><br><br> <!-- incorrect - string -->

<img [src]="imgUrl"> <!-- correct - property binding -->
<img src="{{imgUrl}}"> <!-- correct - text interpolation binding -->


<br>
<!-- Attribute Binding -->
<button [attr.area-label]="areaLabel">Click Me</button>

<table>
  <tr>
      <th>Name</th>
      <th>Age</th>
  </tr>
  <tr>
      <td>Amal</td>
      <td>23</td>
  </tr>
  <tr>
      <td>Kamal Namila</td>
      <td>27</td>
  </tr>
  <tr>
      <td [attr.colSpan]="columnSpan">Sum of the Age of all people:50</td>
  </tr>

</table>