<!-- using Typescript (toUpperCase() function) -->
<h1>{{title.toUpperCase()}}</h1>


<!-- Style Binding (textTransform CSS style) -->
<h1 [style.textTransform]="'uppercase'">{{title}}</h1>


<!-- using pipes -->
<h1>{{title | uppercase}}</h1>


<!-- =================== String Manipulation ======================= -->

<h1>{{title | uppercase}}</h1> <!-- PIPES -->

<h1>{{title | lowercase}}</h1> <!-- pipes -->

<h1>{{title | titlecase}}</h1> <!-- Pipes -->



<!-- ===================== Number Manipulation ====================== -->

<h1>{{1234567.89 | number}}</h1> <!-- 1,234,567.89 -->

<h1>{{tax | percent}}</h1> <!-- 38% -->

<h1>{{40350 | currency:'INR'}}</h1> <!-- ₹40,350.00 -->

<h1>{{ 40350 | currency:'LKR':'symbol-narrow'}}</h1> <!-- Rs40,350.00 -->



<!-- ========================== Date Pipe ========================== -->

<h1>{{today | date}}</h1> <!-- Apr 22, 2025 -->

<h1>{{birthday | date}}</h1> <!-- May 15, 1988 -->

<!-- ________ Pre-defined format options ________ -->

<h1>{{today | date:'medium'}}</h1> <!-- Apr 22, 2025, 6:56:11 PM -->
<h1>{{today | date:'shortDate'}}</h1> <!-- 4/22/25 -->
<h1>{{today | date:'fullTime'}}</h1> <!-- 6:56:11 PM GMT+05:30 -->

<!-- ____________ Custom format options ___________ -->
<h1>{{today | date:'yyyy-MMM-dd, E, hh:mm:ss a'}}</h1> <!-- 2025-Apr-22, Tue, 06:56:11 PM -->
<h1>{{today | date:'EEEE, dd MMMM yyyy, HH:mm zzzz'}}</h1> <!-- Tuesday, 22 April 2025, 18:56 GMT+05:30 -->




<!-- ===================== JSON Manipulation ====================== -->

<h1>{{user}}</h1> <!-- [object Object] -->

<h1>{{user.name}}</h1> <!-- Kamal -->

<h1>{{user | json}}</h1> <!-- { "name": "Kamal", "age": 30 } -->




<!-- ========================= Slice Pipe ========================== -->

<h1>{{greeting}}</h1> <!-- Hello Angular World -->

<h1>{{greeting | slice:6}}</h1> <!-- Angular World -->

<h1>{{greeting | slice:6:13}}</h1> <!-- Angular -->

<h1>{{ arr | slice:1:3 }} </h1> <!-- 20,30 -->



<!-- Slicepipe is immutable -->

<h1>{{"Wellcome" | slice : 0}}</h1> <!-- Wellcome -->

<h1>{{[1, 2, 3, 4, 5] | slice : 0}}</h1> <!-- 1,2,3,4,5 -->


<!-- Slicepipe handles blank values gracefully -->

<h1>{{ null | slice:0:2 }} </h1> <!-- null -->

<h1>{{ undefined | slice:0:2 }}</h1> <!-- undefined -->

<h1>{{ '' | slice:0:2 }}</h1> <!-- "" -->

<h1>{{ [] | slice:0:2 }}</h1> <!-- [] -->





<!-- ========================= Chaining Pipe ========================== -->

<h1>{{startDate | date | uppercase}}</h1> <!-- AUG 19, 1880 -->

<h1>{{'Hello Angular World' | slice:6:13 | uppercase}}</h1> <!-- ANGULAR -->




<!-- ========================= Custom Pipe ========================== -->

<h1>{{'Kamal' | shorten}}</h1>

<h1>{{'Sam' | shorten:0}}</h1>

<h1>{{'Chathuranga' | shorten:4}}</h1>

<h1>{{'Nadeeshanika' | shorten:7}}</h1>




<!-- ======================== Custom Filter Pipe ========================= -->

<input type="text" [(ngModel)]="searchText">

<button (click)="addUser()">Add User</button>

@for(name of names | searchFilter:searchText; track $index){
<h1>{{name}}</h1>
}