<!-- using Typescript (toUpperCase() function) -->
<h1>{{title.toUpperCase()}}</h1>


<!-- Style Binding (textTransform CSS style) -->
<h1 [style.textTransform]="'uppercase'">{{title}}</h1>


<!-- using pipes -->
<h1>{{title | uppercase}}</h1>


<!-- =================== String Manipulation ======================= -->

<h1>{{title | uppercase}}</h1> <!-- PIPES -->

<h1>{{title | lowercase}}</h1> <!-- pipes -->

<h1>{{title | titlecase}}</h1> <!-- Pipes -->



<!-- ===================== Number Manipulation ====================== -->

<h1>{{1234567.89 | number}}</h1> <!-- 1,234,567.89 -->

<h1>{{tax | percent}}</h1> <!-- 38% -->

<h1>{{40350 | currency:'INR'}}</h1> <!-- ₹40,350.00 -->

<h1>{{ 40350 | currency:'LKR':'symbol-narrow'}}</h1> <!-- Rs40,350.00 -->